/*MAIN STYLES*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: #d7d4d4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.header__list img {
    width: 40px;
}

nav, a, ul, li {
    list-style: none;
    text-decoration: none;
    color: #000;
}

/*HEADER STYLES*/
.header {
    background-color: #fff;
    padding: 1.5rem 0;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
}

.header__logo {
    text-transform: uppercase;
    color: #ff9d00;
}

.header__list-item {
    position: relative;
    font-size: 1.4rem;
    transition: .3s ease;
}

.header__list-item:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;	
    background: #ff9d00;
    border-radius: 0.3rem;
    left: 0;
    bottom: -0.5rem;
    transform: scaleX(0);
    transition: transform .4s;
}

.header__list-item:hover:after {
    transform: scaleX(1);
}


/*MENU STYLES*/
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); 
    justify-content: center; 
    justify-items: center;  
    gap: 1.5rem;
    padding: 2rem 0;
}

.menu__card-img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.2rem;
}

.menu__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 1rem 0.5rem;
    gap: 1rem;
    border-radius: 0.2rem;  
    max-width: 25rem;
}

.card__menu-btn {
    padding: 0.5rem 2rem;
    background-color: #ff9d00;
    color: #fff;
    border-radius: 0.2rem;
    transition: .3s ease;
}

.card__menu-btn:hover {
    background-color: #b35c0b;;
}




@media (max-width: 1100px) {
    .menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1.5rem;
    padding: 2rem 0;
}
}

@media (max-width: 740px) {
    .menu {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 1.5rem;
    padding: 2rem 0;
}
}

@media (max-width: 650px) {
    .header__list {
        display: none;
    }
}