.dishes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 1.5rem; 
  padding: 2rem 0;
}

.title {
  color: #ff4757;
  text-transform: uppercase;
  margin-top: 2rem;
}

.filter-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  margin-bottom: 30px;
  gap: 10px;
  margin-top: 1rem;
}

.filter-buttons button {
  padding: 8px 20px;
  border-radius: 20px;
  border: 1px solid #ff4757;
  background: #fff;
  cursor: pointer;
  color: #e84118;
  font-weight: 700;
  font-size: 1.2rem;
  transition: 0.3s;
}

.filter-buttons button:hover {
  background: #ff4757;
  color: white;
}