.navbar {
  background-color: #ff4757; 
  padding: 2rem 0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
}

.nav-links-item {
  position: relative;
}

.nav-links-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fff;
  border-radius: 0.3rem;
  left: 0;
  bottom: -0.5rem;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.nav-links-item:hover {
  color: #ff9d00;
}

.nav-links-item:hover:after {
  transform: scaleX(1);
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: white;
  transition: 0.3s;
}


@media (max-width: 740px) {
  .burger {
    display: flex;
  }

  .nav-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #ff4757;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  .nav-links.active {
    display: flex; /* Показуємо тільки при кліку */
  }

  .burger.open span:nth-child(1) { transform: rotate(45deg) translate(5px, 6px); }
  .burger.open span:nth-child(2) { opacity: 0; }
  .burger.open span:nth-child(3) { transform: rotate(-45deg) translate(5px, -6px); }
}